<% @listings.each do |listing| %>
  <div class="card hoverable">
    <div class="row">
      <div class="col s2 grey-background">     <!--left column for image-->
          <p class="center-align"><%= image_tag listing.user.photo %></p>
          <strong><p class="center-text"><%= listing.user.name %></p></strong>
      </div>
      <div class="col s8 g">
        <p><%= link_to listing.title, listing %></p>
        <div class="divider"></div>
        <p><%= listing.content %></p>
      </div>
      <div class="col s2">
        <p><%= listing.date %></p>
        <p><%= listing.city %></p>
        <br />
        <br />

      </div>
    </div>
  </div>
<% end %>
