

<%= form_for @listing do |f| %>

    <div class="field">
       <%= f.label :title %>
       <%= f.text_field :name, class: "", placeholder: ". . ." %>
    </div>

    <div class="field">
       <%= f.label :country %>
       <%= f.text_field :country, class: "", placeholder: ". . ."   %>
    </div>

    <div class="field">
       <%= f.label :bio %>
       <%= f.text_area :bio, class: "", rows: 10  %>
    </div>

    <%= f.submit (@listing.new_record? ? "Create" : "Update"), class: "waves-effect waves-light btn" %>

<% end %>
